/* We are already getting this stuff from the indexStyleSheet.css so we don't need to add this here again that's why I have commented out it(yasir)*/


/* {
    margin: 0;
    padding: 0;
}
*/

html,
body {
    height: 100%;
}

#quizList {
    min-height: 100%;
    overflow: auto;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 150px;
}

#quizBox {
    min-height: 100%;
    overflow: scroll;
    border: solid 5px;
    border-color: #388087;
    text-align: left;
    padding: 20px;
    background-color: #badfe7;
    margin-bottom: 20px;
}

h4 {
    text-align: top;
}

#startButton {
    text-align: right;
}

button {
    background-color: #388087;
    border: solid;
    border-color: #388087;
    width: 100px;
    font-size: 20px;
}

button:hover {
    background-color: #f6f6f2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 4px solid #badfe7;
    border-radius: 5px;
    width: 22%;
    height: 8%;
    vertical-align: center;
    text-align: center;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#ok1,
#ok2 {
    margin-top: 25px;
    border-radius: 5px;
    margin-right: 20px;
}

#cancel1,
#cancel2 {
    margin-top: 25px;
    border-radius: 5px;
    margin-left: 20px;
}